h1 {
    color: #444;
}

.home ::-webkit-scrollbar { 
    display: none; 
}

@-moz-document url-prefix() {
    .home html,.home body{overflow: hidden !important;}
}

.home section {
    position: relative;
    height: 100vh;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.home .section__content {
    position: relative;
    top: 50%;
    transform:translateY(-50%);
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 20px;
    text-align: justify;
    max-height: 75vh;
    overflow-y: scroll;
}

.home body {
    background-image: linear-gradient(to top, #d9bf8d, #e2cd9b, #ebdba9, #f5e9b8, #fef7c7);
    background: #FFFCF6 url(../img/background.svg);
    background-repeat: repeat-x;
    margin:0;
}

.home .background {
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;/* offset padding left */
    overflow: hidden;
}

.home .background__frame {
    height: 100vh;
    top: 100vh;
    left: 0;
    position: relative;
    transition: transform 2s ease;
}

/* SECTION NAV (HOME PAGE) */
.home .section-nav {
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateY(-50%) translateX(calc(100% - 65px));
    background: rgba(240,240,240,.3);
    padding: 15px;
    border-radius: 5px 0 0 5px;
    transition: all .4s ease;
  }

  .home .section-nav:hover,
  .home .section-nav:focus {
    background: rgba(240,240,240,.8);
    transform: translateY(-50%) translateX(0);
  }

  .home .section-nav ul li {
    padding: 5px 0;
  }

  .home .section-nav ul li:first-child {
    padding-top:0;
  }

  .home .section-nav ul li:last-child {
    padding-bottom:0;
  }

  .home .section-navlink {
    text-decoration: none;
    color: #333;
    display: inline-block;
    height: 100%;
    position: relative;
    width: 150px;
    transition: all .4s ease;
  }

  .home .section-navlink:hover,
  .home .section-navlink:focus {
    text-decoration: none;
    color: #539a37;
  }

  .home .section-navlink__icon {
    text-align: center;
    width: 35px;
    height: 35px;
    display: inline-block;
    transition: all .4s ease;
  }

.home .section-navlink--top .section-navlink__icon  {
    background:url("../img/icons/toTop.svg");
    background-size: cover;
}
.home .section-navlink--top:hover .section-navlink__icon  {
    background:url("../img/icons/toTop-active.svg");
    background-size: cover;
}

.home .section-navlink--atmos .section-navlink__icon  {
    background:url("../img/icons/atmosphere.svg");
    background-size: cover;
}
.home .section-navlink--atmos:hover .section-navlink__icon  {
    background:url("../img/icons/atmosphere-active.svg");
    background-size: cover;
}

.home .section-navlink--ground .section-navlink__icon  {
    background:url("../img/icons/ground.svg");
    background-size: cover;
}

.home .section-navlink--ground:hover .section-navlink__icon  {
    background:url("../img/icons/ground-active.svg");
    background-size: cover;
}

.home .section-navlink--sea .section-navlink__icon  {
    background:url("../img/icons/sea.svg");
    background-size: cover;
}

.home .section-navlink--sea:hover .section-navlink__icon  {
    background:url("../img/icons/sea-active.svg");
    background-size: cover;
}

.home .section-navlink--subterrain .section-navlink__icon  {
    background:url("../img/icons/subterrain.svg");
    background-size: cover;
}

.home .section-navlink--subterrain:hover .section-navlink__icon  {
    background:url("../img/icons/subterrain-active.svg");
    background-size: cover;
}

  .home .section-navlink__text {
    padding-left: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
  }

/* Image Animation CSS */
/* Image Animation CSS / Default State */
.home .sprite {
    position: absolute;
    /*max-width: 200%;*/
    width: 200vw;
    transition: transform 3s ease;
}

.home .sprite--clouds, .home .sprite--clouds2 {
    width: 100vw;
    top: -20vh;
    left: 5vw;
    opacity: .95;
}

.home .sprite--clouds {
    transform: translateX(-200vh);
}

.home .sprite--balloon {
    max-width: 10vw;
    top: -12vh;
    left: 50vw;
    transform: translateY(100vh) translateX(-200vw);
}

.home .sprite--clouds2 {
    transform: translateX(200vh);
}

.home .sprite--deeprocks {
    transform: translateY(20vh);
}

.home .sprite--boat {
    transform: translateX(100vh);
}


.home .sprite--mountains {
    transform: translateY(50vh);
}

.home .sprite--trees {
    transform: translateX(-50vw);
}

.home .sprite--rocks {
    transform: translateY(100vh);
}

/* Image Animation CSS / Stage 1 */
.home .background.stage--1 .background__frame {
    transform: translateY(-40vh);
}

.home .background.stage--1 .sprite--clouds {
    transform: translateX(0vh);
}

.home .background.stage--1 .sprite--clouds2 {
    transform: translateX(0vh);
}
.home .background.stage--1 .sprite--balloon {
    transform: translateX(0vw) translateY(0vh);
}
/* Image Animation CSS / Stage 2 */
.home .background.stage--2 .background__frame {
    transform: translateY(-165vh);
}
.home .background.stage--2 .sprite--balloon {
    transform: translateX(100vw) translateY(-100vh);
}
.home .background.stage--2 .sprite--mountains {
    transform: translateY(0vh);
}
.home .background.stage--2 .sprite--rocks {
    transform: translateY(0vh);
}
.home .background.stage--2 .sprite--trees {
    transform: translateX(0vw);
}

/* Image Animation CSS / Stage 3 */
.home .background.stage--3 .background__frame {
    transform: translateY(-225vh) translateX(-98vw);
}

.home .background.stage--3 .sprite--boat {
    transform: translateX(0vh);
}
/* Image Animation CSS / Stage 4 */
.home .background.stage--4 .background__frame {
    transform: translateY(-415vh) translateX(-98vw);
}

.home .background.stage--4 .sprite--deeprocks {
    transform: translateY(0vh);
}

.home .section--intro .section__content {
    top: 0;
    transform: translateY(0);
}

.home .section--4 .section__content h1,
.home .section--4 .section__content {
    color: #fff;
}

.logo-div{
    margin: auto;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 50px;
}

.logo{
    width: 30%;
    max-width: 250px;
    margin: auto;
    text-align: center;
}

/* code for caroucel */

.carousel-container{
    border: 1px solid transparent;  
}
.graphs{
    width: 100%;
    height: 40vh;
    border: 1px solid transparent;
    display: none;
}
.button{
    width: 5%;
    margin-top: 15%;
}
.car-leftButton{
    float: left;
}
.car-rightButton{
    float: right;
}

.reality{
    color: green;
}
.answer{
    color: red;
}

/* GRAPHS CSS */

.map-graphs{
    margin: auto;
    width: 100%;
    max-height: 40vh!important;
    
}
.pie-graphs{
    margin: auto;
    width: 50%;
    height: 400px!important;
    margin-top: -50px;
}
.line-charts{
    margin: auto;
    width: 500px;
    height: 300px;
    margin-top: 5%;
    position: absolute;
    margin-left: 100px;
}