@import url("reset.css"); /* import css reset */
@import url("homepage.css"); /* import
/*
EQ Stylesheet

Table of Contents:
    - Core Styles
    - Header
      - Navigation
    - Main Content
      - Section Nav (Home page) 
    - Footer 
    - login/Auth
    - SVG
      - Clouds
    - Map
      - Map Legend
*/

/* #test */

/* #endtest */

/* CORE STYLES */
body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: rgb(18, 114, 18);
}

p {
  padding: 20px 0;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.25em;
  margin-bottom: 20px;
}
/* HEADER */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
  /* HEADER / NAVIGATION */

/* MAIN CONTENT */

.section {
  height: 100vh;
}

.section--atmosphere {

}

.section--ground {
  
}

.section--sea {
  
}

.section--subterranean {
  
}

  /* SECTION NAV (HOME PAGE) */
  .section-nav {
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateY(-50%) translateX(calc(100% - 40px));
    background: rgba(240,240,240,.0);
    padding: 15px;
    border-radius: 5px 0 0 5px;
  }

  .section-nav:hover,
  .section-nav:focus {
    background: rgba(240,240,240,.5);
    transform: translateY(-50%) translateX(0);
  }

  .section-nav ul li {
    padding: 5px 0;
  }

  .section-nav ul li:first-child {
    padding-top:0;
  }

  .section-nav ul li:last-child {
    padding-bottom:0;
  }

  .section-navlink__icon {
    text-align: center;
    width: 25px;
    display: inline-block;
  }

  .section-navlink__text {

  }
/* FOOTER */

/* LOGIN/AUTH */

.starter-template {
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* SVG */
  * {
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }

  #background{
    width: 200%; /* Necessary for parallax animation */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }

    /* SVG / CLOUDS*/

    #clouds{
      transform: translateX(-100%);
    }

    #cloud2{
      transform: translateX(100%);
    }

/* Map */

#map { 
  height: 500px;
  border: 1px solid silver;
  margin-bottom: 16px;
}

  /* Map Legend */
  .legend { 
    list-style: none;
  }

  .legend li { 
    float: left; 
    margin-right: 10px;
  }

  .legend span {
    border: 1px solid #ccc;
    float: left;
    width: 12px;
    height: 12px;
    margin: 2px;
  }

  .legend .green {
    background-color: #006600;
  }

  .legend .yellow {
    background-color: #ffff00;
  }

  .legend .amber {
    background-color: #ff9900;
  }

  .legend .red {
    background-color: #ff3300;
  }
