@import url("reset.css"); /* import css reset */
@import url("homepage.css"); /* import
/*
EQ Stylesheet

Table of Contents:
    - Core Styles
    - Header
      - Navigation
    - Main Content
      - Section Nav (Home page) 
    - Footer 
    - login/Auth
    - SVG
      - Clouds
    - Map
      - Map Legend
    - Alt Page
    - Sign in Page
    - About Page
    - Visualisation Previews/Links
    - MEDIA QUERIES
*/

/* #test */

/* #endtest */

/* CORE STYLES */

@font-face {
    font-family: main;
    src: url(../fonts/eurofurence/eurof35.ttf);
}

body {
  font-family: main;
    font-size: 1.2em;
}

.visualisations body,
.about body {
  background: url(../img/about-top.svg), url(../img/about-bottom.svg), url(../img/background.svg);
  background-position: 0 65px, 0 calc(100% - 23px), 0 -400px;
  background-repeat: no-repeat;
}

a {
  color: rgb(18, 114, 18);
  font-weight: bold;
}

p {
  padding: 20px 0;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  font-weight: bold;
}

h3 {
  font-size: 1.25em;
  margin-bottom: 20px;
  font-weight: bold;
}

html:not(.home) main img {
  max-width: 100%;
}

html:not(.home) body {
  padding-bottom: 65px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  opacity: .4;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(91, 81, 74, 0.8);
  outline: 1px solid rgba(91, 81, 74, 0.8);
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #fff;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-track {
  border-radius: 0;
}

.btn-primary {
  color: #fff;
  background-color: #436b3d;
  border-color: #33592d;
  font-weight: bold;
}

.text-muted {
  color: rgba(255,255,255,.5)!important;
  font-size: .8em;
}

.button {
  cursor: pointer;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.bg-dark {
  background-color: rgba(91, 81, 74, 0.8)!important;
}

.navbar-img {
  width: 100%;
  max-width: 80px;
  height: 44px;
  opacity: .5;
}

.navbar-dark .navbar-nav .nav-link,
.home .section-navlink__text,
h1 {
  letter-spacing: 1.5px;
}
  /* HEADER / NAVIGATION */

/* MAIN CONTENT */

.section {
  height: 100vh;
}

/* FOOTER */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(91, 81, 74, 0.8);
  text-align: center;
  padding: 0px 20px 4px 20px;
}

/* LOGIN/AUTH */

.starter-template {
    padding-top: 6rem;
    padding-bottom: 1rem;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
  border-color: #2b5225;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Map */

#map { 
  height: 500px;
  border: 1px solid silver;
  margin-bottom: 16px;
  z-index:0;
  border-radius: 5px;
}

.col.results {
  max-height: 500px;
  overflow-y: scroll;
}
.card-header {
  font-weight: bold;
}

  /* Map Legend */
  .legend { 
    list-style: none;
    overflow: hidden;
  }

  .legend li { 
    margin-right: 10px;
    float: left;
    min-width: 30%;
  }

  .legend span {
    border: 1px solid #ccc;
    float: left;
    width: 12px;
    height: 12px;
    margin: 2px;
  }

  .legend .low1 {
    background-color: #99F69B;
  }

  .legend .low2 {
    background-color: #73F440;
  }

  .legend .low3 {
    background-color: #61D035;
  }

  .legend .moderate1 {
    background-color: #FEF851;
  }

    .legend .moderate2 {
    background-color: #FACF49;
  }

    .legend .moderate3 {
    background-color: #F39A3E;
  }

    .legend .high1 {
    background-color: #EE6262;
  }

    .legend .high2 {
    background-color: #ED3833;
  }

    .legend .high3 {
    background-color: #9A211D;
  }

      .legend .veryhigh {
    background-color: #D054F8;
  }
/* ALT PAGE BGS */
.other-bg{
    height: 100vh;
    width: 100vw;
    background-image: url(../img/web-bg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* SIGN IN PAGE STUFF */
.content-container{
    margin-top: 10%;
}
.sign-in-box{
    margin-bottom: 5px;
}

/* ABOUT PAGE CONTENT */
.about-content{
    text-align: justify;
    border: 1px solid transparent;
    padding: 20px;
    overflow: hidden;
}
.team-img{
    width: 70%;
    border-radius: 50%;
    text-align: center;
}
.team-section{
    padding: 30px;
}

/* Visualisation Preview/Links */

.visualisation-preview {
  padding: 20px;
  margin-bottom: 20px;
  background: rgba(247, 247, 247, 0.8);
  border: 2px solid #f2f2f2;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.visualisation-preview__link:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.visualisation-preview:hover .visualisation-preview__link::before {
  background: rgba(124, 124, 124, 0.15);
}

.visualisation-preview__link:hover {
  text-decoration: none;
}

.visualisation-preview span {
  display: block;
  float: left;
  padding-right: 20px;
}

.visualisation-preview span:last-child {
  padding-right: 0;
}

.visualisation-preview__img {
    width: calc(25%);
}

.visualisation-preview__summary {
  width: calc(75%);
}
.visualisation-preview__summary p {
  padding: 0;
  font-size: 1.5em;
}

.visualisation-preview__summary h1 {
  text-align: left;
}

.previous {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: bold;
  color: #333;
  transition: all .4s ease;
}

.previous:hover {
  text-decoration: none;
  background: #f7f7f7;
  color: rgb(18, 114, 18);
}

@media (min-height:800px) {
  .section__content {
    overflow-y: hidden!important;
  }
} 

@media (max-width:850px) {
  .visualisation-preview__img {
    width: calc(50%);
  }

  .visualisation-preview__summary {
    width: calc(100%);
  }
  .visualisation-preview__summary h1,
  .visualisation-preview__summary {
    text-align: center;
  }

  .visualisation-preview__img img {
    max-width: 100%;
    position: relative;
    left: calc(50% + 10px);
  }
}