@import url("reset.css"); /* import css reset */
/*
EQ Stylesheet

Table of Contents:
    - Core Styles
    - Header
      - Navigation
    - Main Page
    - Footer 
    - login/Auth
    - SVG
      - Clouds
*/

/* #test */

/* #endtest */

/* CORE STYLES */
  html, body{
    padding: 0px;
    margin: 0px;
  }

  #background{
    width: 200%; /* Necessary for parallax animation */
  }

/* HEADER */

  /* HEADER / NAVIGATION */

/* MAIN CONTENT */

/* FOOTER */

/* LOGIN/AUTH */

.starter-template {
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* SVG */
  * {
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }

    /* SVG / CLOUDS*/

    #clouds{
      transform: translateX(-100%);
    }

    #cloud2{
      transform: translateX(100%);
    }
