<div class="other-bg"></div>
<div class="content-container about-content">
    <h1>{{title}}</h1>
    <p class="">The EQ project aims to use mobile application and web technology to gather data related to aspects of environmental pollution. This data will be gathered via a questionnaire accessible via a mobile application. User responses will be stored and presented in an aesthetically pleasing way via web interface. Our intention is to highlight any gap between people’s perception of environmental pollution issues and the reality.</p>
    <p>We think this could be important in raising awareness of the impact of environmental pollution and possibly a call to action to help people change their behaviour.</p>
    <p>As well as the questionnaire responses, we intend to provide supporting/background information in the form of data visualisations. We believe this could add value to the project as well as providing some context for the areas on which we have chosen to concentrate.</p>
    <h3 class="text-center">Meet the team</h3>
    <div class="row">
        <div class="col-xs-6 col-md-3 text-center team-section">
            <img class="team-img" alt="" src="img/chris.JPG">
            <h3>Chris Smith</h3>
        </div>
        <div class="col-xs-6 col-md-3 text-center team-section">
            <img class="team-img" alt="" src="img/georgia.JPG">
            <h3>Georgia Day</h3>
            <p class="text-justify">Using both front-end Development skills, partnered with her Design skills, Georgia is able to make beautfully functional interfaces.</p>
            <p class="text-justify">In her spare time she enjoys going to the gym and eating cashew nuts.</p>
        </div>
        <div class="col-xs-6 col-md-3 text-center team-section">
            <img class="team-img" alt="" src="img/matt.JPG">
            <h3>Matthew French</h3>
        </div>
        <div class="col-xs-6 col-md-3 text-center team-section">
            <img class="team-img" alt="" src="img/simon.JPG">
            <h3>Simon Jarvis</h3>
            <p class="text-justify">Split between Design and Development, Simon enjoys both passions creating the visual and functional - an aspiring web developer and graphic designer. </p>
            <p class="text-justify">In his spare time he enjoys gaming, tennis and archery.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-12 text-center">
            <h3>Another Section</h3>
        </div>
    </div>
</div>
