<script>
	localStorage.clear();
</script>
{{!-- Logged in content --}}
{{#if user}}
<script>
	localStorage.setItem('user_id', {{user.id}} );
</script>

{{/if}}
<main>
	<div class="background">
		<div class="background__frame">
				<img class="sprite sprite--mountains" alt="" src="img/mountains.svg">
				<img class="sprite sprite--rocks" alt="" src="img/rocks.svg">
				<img class="sprite sprite--boat" alt="" src="img/boat.svg">
				<img class="sprite sprite--sea" alt="" src="img/sea.svg">
				<img class="sprite sprite--ground" alt="" src="img/ground.svg">
				<img class="sprite sprite--trees" alt="" src="img/trees.svg">
				<img class="sprite sprite--clouds2" alt="" src="img/clouds2.svg">
				<img class="sprite sprite--balloon" alt="" src="img/balloon.svg">
				<img class="sprite sprite--clouds" alt="" src="img/clouds.svg">
				<img class="sprite sprite--deeprocks" alt="" src="img/deeprocks.svg">
				<img class="sprite sprite--subterrain" alt="" src="img/subterranean.svg">
		</div> 
	</div>

	<section id="intro" class="section section--intro">
        <div class="logo-div">
            <img class="logo" alt="logo" src="img/logo.svg">
        </div>
		<div class="section__content intro-content">
			<h1>Welcome to EQ - What's your Environmental Quotient?</h1>
			<p>Now that you've completed the Quiz, EQ would like to take you on a visual journey. We aim to show you just how accurate your results are in comparison to the facts as well as comparing your results to those around the world!</p>
		</div>
	</section>

	<section id="section1" class="section section--1" id="test">
		<div class="section__content">
				<h1>The Atmosphere</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis, felis eu semper euismod, quam ligula consequat nulla, at semper lectus tortor id neque. Nullam eget scelerisque neque. Suspendisse maximus nisl id ligula malesuada volutpat id nec orci. Nam vel vulputate enim. Nullam id auctor sem. Duis at porttitor orci, sit amet vulputate sapien. Nam tempus justo dictum nibh fringilla placerat. Mauris lectus risus, feugiat eget suscipit nec, consequat at eros. Aenean eleifend tellus ac velit feugiat, vel tincidunt quam porttitor. Cras pharetra gravida lorem lacinia viverra. Nam consectetur mauris nec metus mollis accumsan. Proin non urna felis. Maecenas sed tempor purus. Integer nec urna in ex malesuada iaculis at sed erat. Aliquam purus purus, dignissim eget velit at, ultricies accumsan nulla. Maecenas eget libero augue.</p>
            <div class="row">
                <div class="col-lg-12 text-center carousel-container">
                    <img id="air-leftButton" class="car-leftButton button" alt="" src="img/back-button.png"> 
                    <img id="air-rightButton" class="car-rightButton button" alt="" src="img/forward-button.png"> 
                    <div id="air-1" class="air-graphs graphs graph-1">
                        <p>air 1</p>
                    </div>
                    <div id="air-2" class="air-graphs graphs graph-2">
                        <p>air 2</p>
                    </div>
                    <div id="air-3" class="air-graphs graphs graph-3">
                        <p>air 3</p>
                    </div>
                    <div id="air-4" class="air-graphs graphs graph-4">
                        <p>air 4</p>
                    </div>
                    <div id="air-5" class="air-graphs graphs graph-5">
                        <p>air 5</p>
                    </div>
                </div>
            </div>
		</div>
	</section>

	<section id="section2" class="section section--2">
		<div class="section__content">
			<h1>The Ground</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis, felis eu semper euismod, quam ligula consequat nulla, at semper lectus tortor id neque. Nullam eget scelerisque neque. Suspendisse maximus nisl id ligula malesuada volutpat id nec orci. Nam vel vulputate enim. Nullam id auctor sem. Duis at porttitor orci, sit amet vulputate sapien. Nam tempus justo dictum nibh fringilla placerat. Mauris lectus risus, feugiat eget suscipit nec, consequat at eros. Aenean eleifend tellus ac velit feugiat, vel tincidunt quam porttitor. Cras pharetra gravida lorem lacinia viverra. Nam consectetur mauris nec metus mollis accumsan. Proin non urna felis. Maecenas sed tempor purus. Integer nec urna in ex malesuada iaculis at sed erat. Aliquam purus purus, dignissim eget velit at, ultricies accumsan nulla. Maecenas eget libero augue.</p>
			<p>Nam sit amet maximus purus, id auctor augue. Sed turpis ex, vulputate et ex non, tincidunt suscipit neque. Aliquam finibus lectus a gravida dignissim. Praesent vulputate risus massa, quis dapibus lectus condimentum at. Ut ornare dolor quis dignissim posuere. Sed fringilla tristique sem, eget molestie tortor auctor sit amet. Etiam ultricies vestibulum eros eget vulputate. In tristique metus vel tellus vehicula, sed ultricies ante scelerisque. Nullam molestie euismod turpis, ut aliquet tellus euismod quis. Nam id pellentesque metus. Morbi vulputate egestas nisl, ac blandit eros vehicula a. Nulla odio erat, mollis in ultricies porttitor, ornare sed nibh. Nam eu ex nec mauris blandit luctus.</p>
            <div class="row">
                <div class="col-lg-12 text-center carousel-container">
                    <img id="ground-leftButton" class="car-leftButton button" alt="" src="img/back-button.png"> 
                    <img id="ground-rightButton" class="car-rightButton button" alt="" src="img/forward-button.png"> 
                    <div id="ground-1" class="ground-graphs graphs graph-1">
                        <p>ground 1</p>
                    </div>
                    <div id="ground-2" class="ground-graphs graphs graph-2">
                        <p>ground 2</p>
                    </div>
                    <div id="ground-3" class="ground-graphs graphs graph-3">
                        <p>ground 3</p>
                    </div>
                    <div id="ground-4" class="ground-graphs graphs graph-4">
                        <p>ground 4</p>
                    </div>
                    <div id="ground-5" class="ground-graphs graphs graph-5">
                        <p>ground 5</p>
                    </div>
                </div>
            </div>
		</div>
	</section>

	<section id="section3" class="section section--3">
		<div class="section__content">
			<h1>The Ocean</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis, felis eu semper euismod, quam ligula consequat nulla, at semper lectus tortor id neque. Nullam eget scelerisque neque. Suspendisse maximus nisl id ligula malesuada volutpat id nec orci. Nam vel vulputate enim. Nullam id auctor sem. Duis at porttitor orci, sit amet vulputate sapien. Nam tempus justo dictum nibh fringilla placerat. Mauris lectus risus, feugiat eget suscipit nec, consequat at eros. Aenean eleifend tellus ac velit feugiat, vel tincidunt quam porttitor. Cras pharetra gravida lorem lacinia viverra. Nam consectetur mauris nec metus mollis accumsan. Proin non urna felis. Maecenas sed tempor purus. Integer nec urna in ex malesuada iaculis at sed erat. Aliquam purus purus, dignissim eget velit at, ultricies accumsan nulla. Maecenas eget libero augue.</p>
			<p>Nam sit amet maximus purus, id auctor augue. Sed turpis ex, vulputate et ex non, tincidunt suscipit neque. Aliquam finibus lectus a gravida dignissim. Praesent vulputate risus massa, quis dapibus lectus condimentum at. Ut ornare dolor quis dignissim posuere. Sed fringilla tristique sem, eget molestie tortor auctor sit amet. Etiam ultricies vestibulum eros eget vulputate. In tristique metus vel tellus vehicula, sed ultricies ante scelerisque. Nullam molestie euismod turpis, ut aliquet tellus euismod quis. Nam id pellentesque metus. Morbi vulputate egestas nisl, ac blandit eros vehicula a. Nulla odio erat, mollis in ultricies porttitor, ornare sed nibh. Nam eu ex nec mauris blandit luctus.</p>
            <div class="row">
                <div class="col-lg-12 text-center carousel-container">
                    <img id="sea-leftButton" class="car-leftButton button" alt="" src="img/back-button.png"> 
                    <img id="sea-rightButton" class="car-rightButton button" alt="" src="img/forward-button.png"> 
                    <div id="sea-1" class="sea-graphs graphs graph-1">
                        <h3>1.How much plastic enters the ocean every year?</h3>
                        <div id="sea-chart-1" class="pie-graphs"></div>
                    </div>
                    <div id="sea-2" class="sea-graphs graphs graph-2">
                        <h3>2.How long does a plastic bottle take to degrade in the ocean?</h3>
                        <div class="graphs-container">
                            <div id="sea-chart-2-1" class="line-charts"></div>
                            <div id="sea-chart-2-2" class="line-charts"></div>
                             <div id="sea-chart-2" class="line-charts"></div>
                        </div>
                    </div>
                    <div id="sea-3" class="sea-graphs graphs graph-3 text-center">
                        <h3>3.What country contributes the most ocean pollution each year?</h3>
                        <div id="world-map-sea" class="map-graphs" style="width: 600px; height: 400px;"></div>
                    </div>
                    <div id="sea-4" class="sea-graphs graphs graph-4">
                        <h3>4.What is the quantity of petroleum spilt into the ocean each year?</h3>
                    </div>
                    <div id="sea-5" class="sea-graphs graphs graph-5">
                        <h3>5.How many pieces of micro plastics is it believed there are in our ocean? </h3>
                    </div>
                </div>
            </div>
		</div>
	</section>

	<section id="section4" class="section section--4">
		<div class="section__content">
			<h1>The Subterranean</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis, felis eu semper euismod, quam ligula consequat nulla, at semper lectus tortor id neque. Nullam eget scelerisque neque. Suspendisse maximus nisl id ligula malesuada volutpat id nec orci. Nam vel vulputate enim. Nullam id auctor sem. Duis at porttitor orci, sit amet vulputate sapien. Nam tempus justo dictum nibh fringilla placerat. Mauris lectus risus, feugiat eget suscipit nec, consequat at eros. Aenean eleifend tellus ac velit feugiat, vel tincidunt quam porttitor. Cras pharetra gravida lorem lacinia viverra. Nam consectetur mauris nec metus mollis accumsan. Proin non urna felis. Maecenas sed tempor purus. Integer nec urna in ex malesuada iaculis at sed erat. Aliquam purus purus, dignissim eget velit at, ultricies accumsan nulla. Maecenas eget libero augue.</p>
			<p>Nam sit amet maximus purus, id auctor augue. Sed turpis ex, vulputate et ex non, tincidunt suscipit neque. Aliquam finibus lectus a gravida dignissim. Praesent vulputate risus massa, quis dapibus lectus condimentum at. Ut ornare dolor quis dignissim posuere. Sed fringilla tristique sem, eget molestie tortor auctor sit amet. Etiam ultricies vestibulum eros eget vulputate. In tristique metus vel tellus vehicula, sed ultricies ante scelerisque. Nullam molestie euismod turpis, ut aliquet tellus euismod quis. Nam id pellentesque metus. Morbi vulputate egestas nisl, ac blandit eros vehicula a. Nulla odio erat, mollis in ultricies porttitor, ornare sed nibh. Nam eu ex nec mauris blandit luctus.</p>
            <div class="row">
                <div class="col-lg-12 text-center carousel-container">
                    <img id="sub-leftButton" class="car-leftButton button" alt="" src="img/back-button.png"> 
                    <img id="sub-rightButton" class="car-rightButton button" alt="" src="img/forward-button.png"> 
                    <div id="sub-1" class="sub-graphs graphs graph-1">
                        <p>sub 1</p>
                    </div>
                    <div id="sub-2" class="sub-graphs graphs graph-2">
                        <p>sub 2</p>
                    </div>
                    <div id="sub-3" class="sub-graphs graphs graph-3">
                        <p>sub 3</p>
                    </div>
                    <div id="sub-4" class="sub-graphs graphs graph-4">
                        <p>sub 4</p>
                    </div>
                    <div id="sub-5" class="sub-graphs graphs graph-5">
                        <p>sub 5</p>
                    </div>
                </div>
            </div>
		</div>
	</section>
</main>
{{!-- End of logged-in content --}}
<div class="section-nav">
	<ul>
		<li>
			<a class="section-navlink section-navlink--top" href="#">
				<span class="section-navlink__icon"></span>
				<span class="section-navlink__text">Top</span>
			</a>
		</li>
		<li>
			<a class="section-navlink section-navlink--atmos" href="#section1">
				<span class="section-navlink__icon"></span>
				<span class="section-navlink__text">Atmosphere</span>
			</a>
		</li>
		<li>
			<a class="section-navlink section-navlink--ground" href="#section2">
				<span class="section-navlink__icon"></span>
				<span class="section-navlink__text">Ground</span>
			</a>
		</li>
		<li>
			<a class="section-navlink section-navlink--sea" href="#section3">
				<span class="section-navlink__icon"></span>
				<span class="section-navlink__text">Ocean</span>
			</a>
		</li>
		<li>
			<a class="section-navlink section-navlink--subterrain" href="#section4">
				<span class="section-navlink__icon"></span>
				<span class="section-navlink__text">Subterranean</span>
			</a>
		</li>
	</ul>
</div>


{{!-- <object onload="loadBackground()" id="background" data="img/backgroundImage.svg" type="image/svg+xml"></object>  --}}
