<script>
	localStorage.clear();
</script>
{{!-- Logged in content --}}
{{#if user}}
<script>
	localStorage.setItem('user_id', {{user.id}} );
</script>
{{/if}} <!-- This closing if is to be removed to restore user conditional content -->
    <div class="background">
		<div class="background__frame">
				<img class="sprite sprite--mountains" alt="" src="img/mountains.svg">
				<img class="sprite sprite--rocks" alt="" src="img/rocks.svg">
				<img class="sprite sprite--boat" alt="" src="img/boat.svg">
				<img class="sprite sprite--sea" alt="" src="img/sea.svg">
				<img class="sprite sprite--ground" alt="" src="img/ground.svg">
				<img class="sprite sprite--trees" alt="" src="img/trees.svg">
				<img class="sprite sprite--clouds2" alt="" src="img/clouds2.svg">
				<img class="sprite sprite--balloon" alt="" src="img/balloon.svg">
				<img class="sprite sprite--clouds" alt="" src="img/clouds.svg">
				<img class="sprite sprite--deeprocks" alt="" src="img/deeprocks.svg">
				<img class="sprite sprite--subterrain" alt="" src="img/subterranean.svg">
		</div> 
	</div>

	<section id="intro" class="section section--intro">
        <div class="logo-div">
            <img class="logo" alt="logo" src="img/logo.svg">
        </div>
		<div class="section__content intro-content">
			<h1>Welcome to EQ - What's your Environmental Quotient?</h1>
			<p>Now that you've completed the Quiz, EQ would like to take you on a visual journey. We aim to show you just how accurate your results are in comparison to the facts as well as comparing your results to those around the world!</p>
		</div>
	</section>

	<section id="section1" class="section section--1" id="test">
		<div class="section__content">
				<h1>The Atmosphere</h1>
				<p>Without the atmosphere, Earth would cease to exist as we know it today. It protects us from things such as radiation from the sun, space debris and so much more! Did you know that the atmosphere is made up of 5 different layers, all having a hand in protecting and keeping the planet in balance. Due to global warming and contamination of the air, as well as an abundance of other human-based factors, the atmosphere is being damaged at an alarming rate. This means unclean air for a lot of the population, as well as increased likelihood of skin deseases due to ultraviolet light penetrating the atmosphere. </p>
                <p>Below you are able to view the results of the 'atmosphere' section of the EQ app! We've highlighted <strong class="answer">your answer</strong> in red. The <strong class="reality">reality</strong> (or truth) is highlighted in green. How clued up are you to atmospheric pollution? Did you get closer than other users using the app? We hope you find your results insightful!</p>
            <div class="row">
                <div class="col-lg-12 text-center carousel-container">
                    <img id="air-leftButton" class="car-leftButton button" alt="" src="img/back-button.png"> 
                    <img id="air-rightButton" class="car-rightButton button" alt="" src="img/forward-button.png"> 
                    <div id="air-1" class="air-graphs graphs graph-1">
                        <h3>1. How much carbon dioxide was produced worldwide in 2018 in metric tons?</h3>
                    </div>
                    <div id="air-2" class="air-graphs graphs graph-2">
                        <h3>2. How high were carbon dioxide concentrations in the atmosphere in 2018?</h3>
                    </div>
                    <div id="air-3" class="air-graphs graphs graph-3">
                        <h3>3. How many deaths per year are linked to air pollution in the UK?</h3>
                    </div>
                    <div id="air-4" class="air-graphs graphs graph-4">
                        <h3>4. How much does air pollution cost health services in the UK per year?</h3>
                    </div>
                    <div id="air-5" class="air-graphs graphs graph-5">
                        <h3>5. What percentage of the global population live in places with unhealthy air quality?</h3>
                    </div>
                </div>
            </div>
		</div>
	</section>

	<section id="section2" class="section section--2">
		<div class="section__content">
			<h1>The Ground</h1>
			<p>The part of the Earth not covered in ocean is made up of the 'seven continental landmasses'. These continents are home to millions of different species, including the human race! Sadly, due to rising sea levels (caused by humans), parts of these continents are being submerged underwater, and as a direct result are no longer inhabitable. Only 29% of the world is not covered in ocean, so if pollution continues and sea levels continue to rise, soon there will be a lot less! </p>
			<p>Below you are able to view the results of the 'ground' section of the EQ app! We've highlighted <strong class="answer">your answer</strong> in red. The <strong class="reality">reality</strong> (or truth) is highlighted in green. How clued up are you to land pollution? Did you get closer than other users using the app? We hope you find your results insightful!</p>
            <div class="row">
                <div class="col-lg-12 text-center carousel-container">
                    <img id="ground-leftButton" class="car-leftButton button" alt="" src="img/back-button.png"> 
                    <img id="ground-rightButton" class="car-rightButton button" alt="" src="img/forward-button.png"> 
                    <div id="ground-1" class="ground-graphs graphs graph-1">
                        <h3>1. Roughly what percentage of all US Carbon emissions are caused by trucks and cars?</h3>
                        <div id="ground-chart-1" class="line-charts"></div>
                    </div>
                    <div id="ground-2" class="ground-graphs graphs graph-2">
                        <h3>2. What percentage of waste in the UK was recycled in 2016?</h3>
                    </div>
                    <div id="ground-3" class="ground-graphs graphs graph-3">
                        <h3>3. What percentage of plastics were recycled in the UK in 2016?</h3>
                    </div>
                    <div id="ground-4" class="ground-graphs graphs graph-4">
                        <h3>4. According to the United Nations how many people have been displaced since 2008 by climate change related weather hazards?</h3>
                    </div>
                    <div id="ground-5" class="ground-graphs graphs graph-5">
                        <h3>5. Which of these countries produced the highest level of CO2 per Capita in 2015?</h3>
                        <div id="ground-chart-5" class="pie-graphs"></div>
                    </div>
                </div>
            </div>
		</div>
	</section>

	<section id="section3" class="section section--3">
		<div class="section__content">
			<h1>The Ocean</h1>
			<p>The Ocean is an amazing place, home to an abundance of marine creatures. Did you know that over 70% of the earth's surface is covered by our oceans? Thats a lot of water! Because of this it should come as no surprise that marine species easily outnumber those that live on land. With so much life within our seas, the importance of keeping it clean is unprecedented, especially if we are to preserve its natural beauty. It may come as a surprise to you that the biggest source of pollution in our ocean comes directly from land-based sources; this includes, oils, plasics and even motor vehicles! As a direct result of this millions of sea creatures, as well as the animals that surround the ocean, are killed each year.</p>
			<p>Below you are able to view the results of the 'ocean' section of the EQ app! We've highlighted <strong class="answer">your answer</strong> in red. The <strong class="reality">reality</strong> (or truth) is highlighted in green. How clued up are you to ocean pollution? Did you get closer than other users using the app? We hope you find your results insightful!</p>
            <div class="row">
                <div class="col-lg-12 text-center carousel-container">
                    <img id="sea-leftButton" class="car-leftButton button" alt="" src="img/back-button.png"> 
                    <img id="sea-rightButton" class="car-rightButton button" alt="" src="img/forward-button.png"> 
                    <div id="sea-1" class="sea-graphs graphs graph-1">
                        <h3>1.How much plastic enters the ocean every year?</h3>
                        <div id="sea-chart-1" class="pie-graphs"></div>
                    </div>
                    <div id="sea-2" class="sea-graphs graphs graph-2">
                        <h3>2.How long does a plastic bottle take to degrade in the ocean?</h3>
                        <div class="graphs-container">
                            <div id="sea-chart-2-1" class="line-charts"></div>
                            <div id="sea-chart-2-2" class="line-charts"></div>
                             <div id="sea-chart-2" class="line-charts"></div>
                        </div>
                    </div>
                    <div id="sea-3" class="sea-graphs graphs graph-3 text-center">
                        <h3>3.What country contributes the most ocean pollution each year?</h3>
                        <div id="world-map-sea" class="map-graphs" style="width: 600px; height: 400px;"></div>
                    </div>
                    <div id="sea-4" class="sea-graphs graphs graph-4">
                        <h3>4.What is the quantity of petroleum spilt into the ocean each year?</h3>
                        <div id="sea-chart-4" class="line-charts"></div>
                    </div>
                    <div id="sea-5" class="sea-graphs graphs graph-5">
                        <h3>5.How many pieces of micro plastics is it believed there are in our ocean? </h3>
                        <div id="sea-chart-5" class="pie-graphs"></div>
                    </div>
                </div>
            </div>
		</div>
	</section>

	<section id="section4" class="section section--4">
		<div class="section__content">
			<h1>The Subterranean</h1>
			<p>The earth's subsurface may be unseen, yet it is the source of much of our valuable drinking water. Subterranean aquifiers are at danger from the fracking industry, not only because vast quantities (millions of gallons) of water are required for to fracture rock fissures, but also because chemicals are combined with the water used in the fracking process; water which could potentially contaminate drinking water.</p>
			<p>Below you are able to view the results of the 'subterranean' section of the EQ app! We've highlighted <strong class="answer">your answer</strong> in red. The <strong class="reality">reality</strong> (or truth) is highlighted in green. How clued up are you to subsurface pollution? Did you get closer than other users using the app? We hope you find your results insightful!</p>
            <div class="row">
                <div class="col-lg-12 text-center carousel-container">
                    <img id="sub-leftButton" class="car-leftButton button" alt="" src="img/back-button.png"> 
                    <img id="sub-rightButton" class="car-rightButton button" alt="" src="img/forward-button.png"> 
                    <div id="sub-1" class="sub-graphs graphs graph-1">
                        <h3>1. Approximately how many fracking sites will be operational in the UK by 2020?</h3>
                    </div>
                    <div id="sub-2" class="sub-graphs graphs graph-2">
                        <h3>2. The UK government has voted to ban fracking in which of the following areas?</h3>
                    </div>
                    <div id="sub-3" class="sub-graphs graphs graph-3">
                        <h3>3. According to the UK Government's 2018 survey of public opinion, what percentage of people support fracking?</h3>
                    </div>
                    <div id="sub-4" class="sub-graphs graphs graph-4">
                        <h3>4. What percentage of the UK land area is open to licensing by fracking companies?</h3>
                    </div>
                    <div id="sub-5" class="sub-graphs graphs graph-5">
                        <p>sub 5</p>
                    </div>
                </div>
            </div>
		</div>
	</section>
{{!-- End of logged-in content --}}
<div class="section-nav">
	<ul>
		<li>
			<a class="section-navlink section-navlink--top" href="#">
				<span class="section-navlink__icon"></span>
				<span class="section-navlink__text">Top</span>
			</a>
		</li>
		<li>
			<a class="section-navlink section-navlink--atmos" href="#section1">
				<span class="section-navlink__icon"></span>
				<span class="section-navlink__text">Atmosphere</span>
			</a>
		</li>
		<li>
			<a class="section-navlink section-navlink--ground" href="#section2">
				<span class="section-navlink__icon"></span>
				<span class="section-navlink__text">Ground</span>
			</a>
		</li>
		<li>
			<a class="section-navlink section-navlink--sea" href="#section3">
				<span class="section-navlink__icon"></span>
				<span class="section-navlink__text">Ocean</span>
			</a>
		</li>
		<li>
			<a class="section-navlink section-navlink--subterrain" href="#section4">
				<span class="section-navlink__icon"></span>
				<span class="section-navlink__text">Subterranean</span>
			</a>
		</li>
	</ul>
</div>
{{!-- {{/if}} --}} <!-- this closing if statement is to be reinstated for user conditional content -->

{{!-- {{#unless user}}
    <div class="logo-div" style="margin-top:2%;">
        <img class="logo" alt="logo" src="img/logo.svg">
    </div>

    <h1>Welcome to EQ - What's your Environmental Quotient?</h1>
    <h2 style="text-align:center">Please log in to see your results</h2>
    {{> login}}

{{/unless}} --}}


{{!-- <object onload="loadBackground()" id="background" data="img/backgroundImage.svg" type="image/svg+xml"></object>  --}}
