<h1>{{title}}</h1>

<p>Irure ad voluptate aute ut elit proident quis ullamco ea do duis do elit do esse magna incididunt proident aliquip nulla id ut aliquip est veniam ullamco eiusmod eiusmod nostrud fugiat do in irure ad.</p>

{{!-- Logged in content --}}
{{#if user}}
	<p><strong>You are logged in as {{user.email}}.</strong></p>

	<section class="atmosphere">

	</section>

	<section class="ground">
	    
	</section>

	<section class="sea">
	    
	</section>

	<section class="subterranean">
	    
	</section>
{{/if}}
{{!-- End of logged-in content --}}