<div class="content-container about-content">
	<h1>{{title}}</h1>

	<article class="visualisation-preview">
		<span class="visualisation-preview__img">
			<img src="img/air-map.png" alt="air quality visualisation preview">
		</span>
		<span class="visualisation-preview__summary">
			<h2>UK Air Quality (Defra)</h2>
			<p>Using this visualisation you can view the daily air quality index or air pollution rate for many locations across the UK</p>
		</span>
		<a class="visualisation-preview__link" href="/airquality"></a>
	</article>
	<article class="visualisation-preview">
		<span class="visualisation-preview__img">
			<img src="img/air-map.png" alt="air quality visualisation preview">
		</span>
		<span class="visualisation-preview__summary">
			<h2>Marine LitterWatch (European Environment Agency)</h2>
			<p>This map visualisation displays the beaches and litter collection events organised by the Marine LitterWatch communities.</p>
		</span>
		<a class="visualisation-preview__link" href="/marinelitter"></a>
	</article>
</div>
