<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <script type="text/javascript" src="/js/scripts.js"></script> 
    <title>{{title}}</title>
</head>
<body>
    <header>
        <nav role="navigation">
            <ul><!-- Dummy Nav -->
                <li><a {{#ifEquals title "Homepage" }}class="navlink--active"{{/ifEquals}} href="/">Homepage</a></li>
                <li><a {{#ifEquals title "About"}}class="navlink--active"{{/ifEquals}} href="/about">About</a></li>
            </ul>
        </nav>
    </header>
    <div class="page">
        {{{body}}}
    </div>
    <footer>
        Footer content
    </footer>
</body>
</html>