<h1>Welcome to ProjectEQ</h1>
<p><strong>Thanks for creating an account with ProjectEQ.</strong></p>
<p>You can login to your account at: <a href="www.projecteq.co.uk/signin">ProjectEQ</a>
<p>Your username is: <strong>{{email}}</strong></p>